@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Orbitron:wght@500;600;700&display=swap');
:root{
    --c1:#000000;
    --c2: #FFF;
}
html, body{
    overflow-x: hidden;
    width: 100%;
    background-color:var(--c2) ;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
}
ul{
    font-family: "Montserrat";
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    font-size: 14px;
}
p{
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
}
h1 , h2, h3, h4, h5, h6{
    font-weight: 600;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-size: 55px;
}
li{
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
}
button{
    font-family: "Montserrat";
    color:white;
}
[class *= "__container"]{
    padding: 0px 15px;
}
[class *= "__column"]{
    display: flex;
    flex-direction: column;
}
@media(max-width:425px){
    .product__container{
        padding: 0px;
        align-items: center;
    }
    .customer__container{
        padding: 0px;
        align-items: center;
    }
    .blog__container{
        padding: 0px;
        align-items: center;
    }
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 45px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.header--list-wrapper{
    padding-left: 350px;
}
.header-list{
    list-style: none;
}
.header--list-item{
    padding-left: 20px;
    color: black;
    cursor: pointer;
}

.menu-btn{
    display: none;
}
.menu{
    display: none;
}
@media(max-width:920px){
    .header--list-wrapper{
        padding-left: 272px;
    }
}
@media(max-width:768px){
    .header--list-wrapper{
        padding-left: 200px;
    }
}
@media(max-width:425px){
    .header--list-wrapper{
        display: none;
    }
    .menu-btn {
        margin-left: 230px;
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #7865FF;
        transition: all 0.5s;
        border-radius: 10px;
    }
    
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
        
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
        
    }
    
    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    }
    
    /* Меню, которое будет появляться */
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: transparent;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .menu-list{
        flex-direction: column;
        padding: 0px;
    }
    .menu--list-link{
        color: rgb(0, 0, 0);
    }
    .menu.active {
        transform: translateX(0);
    }
    
    .menu li {
        list-style-type: none;
    }
    .nav-list{
        margin-bottom: 40px;
    }
}
@media(max-width:375px){
    .menu-btn{
        margin-left: 180px;
    }
}

@media(max-width:325px){
    .header-wrapper{
        padding-left: 15px;
    }
    .menu-btn{
        margin-left: 170px;
    }
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.promo__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.promo--header-text{
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.01em;
    height: 50px;
}

.promo-header-title-inner{
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #7E5FFF;
}
.promo--header-subtitle{
    width: 585px;
}
.promo--header-subtitle-inner{
    text-align: center;
    letter-spacing: 0.774px; 
    font-size: 22px;
    padding-bottom: 220px;
}

@media(max-width:425px){
    .promo__container{
        padding-top: 30px;
    }
    .promo--header-text{
        font-size: 25px;
    }
    .promo-header-title-inner{
        font-size: 25px;
    }
    .promo--header-subtitle-inner{
        font-size: 15px;
    }
    .promo--header-subtitle{
        width: 375px;
    }
}
@media(max-width:375px){
    .promo--header-subtitle-inner{
        font-size: 12px;
    }
    .promo--header-subtitle{
        width: 310px;
    } 
}
@media(max-width:325px){
    .promo--header-subtitle-inner{
        font-size: 10px;
        padding-bottom: 130px;
    }
    .promo--header-subtitle{
        width: 310px;
    } 
}

/*! >>>>>>>>>>>>>>>>>>>>>>> */

.media__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 70%;
    background-color:var(--c1);
}

.media--gallery-item{
    display: flex;
    flex-direction: row; 
}
.media-title{
    padding-top: 120px;
    text-align: center;
    letter-spacing: 0.01em;
    width: 190px;
}
.media-title-inner{
    color: white;
}
.media-subtitle{
    padding-top: 55px;
    padding-bottom: 115px;
}
.media-subtitle-inner{
    color: white;
}
.gallery-item{
    overflow: hidden; 
}
.gallery-logo:hover{
    transform: scale(1.1);
    transition: transform 0.25s;
}
@media(max-width:900px){
    .gallery-logo{
        width: 175px;
    }  
}
@media(max-width:768px){
    .gallery-logo{
        width: 175px;
    }
}

@media(max-width:425px){
    .gallery-logo{
        width: 85px;
    }
}
@media(max-width:375px){
    .gallery-logo{
        width: 75px;
    } 
}

@media(max-width:325px){
    .media--gallery-item{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .gallery-logo{
        width: 150px;
    }  
}

/*! >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.product__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    margin: 0;
    padding-bottom: 120px;
}
.left-side{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 50%;
}
.product--header-title{
    width: 432px;
}
.header-title{
    font-weight: 400;
    font-size: 51px;
    letter-spacing: 0.01em;
}
.product--text-subtitle{
    width: 409px;
}
.text-subtitle{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
}

@media(max-width:920px){
    .left-side{
        padding-left: 10px;
    }
    
    .product--header-title{
        width: 350px;
    }
    .header-title{
        font-weight: 400;
        font-size: 40px;
        letter-spacing: 0.01em;
    }
    .text-subtitle{
        font-size: 14px;
    }
    .product--text-subtitle{
        width: 300px;
    }
    .product-image{
        width: 350px;
    }
}
@media(max-width:768px){
    .product-image{
        width: 320px;
    }
}
@media(max-width:425px){
    .product__container{
        display: flex;
        flex-direction: column;
       
    } 
    .right-side{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-side{
        width: 100%;
        align-items: center;
    }
  
    .header-title{
        text-align: center;
    }
    .product--text-subtitle{
        text-align: center;
    }
}
@media(max-width:375px){
    .left-side{
        padding-left: 0px;
    }
}
@media(max-width:325px){
    .product-image{
        width: 260px;
    }
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.customer__container{
    display: flex;
    flex-direction: row;
    background: #F3F3F3;
    padding-top: 120px;
    padding-bottom:160px;
}


.header-title{
    letter-spacing: -0.01em;
}
.customer--text-subtitle{
    width: 409px;
}


@media(max-width:1024px){
    
    .customer-image{
        width: 400px;
    }
}
@media(max-width:920px){
    .customer-image{
        width: 335px;
    }
    .customer--text-subtitle{
        width: 335px;
    }
}
@media(max-width:768px){
    .customer-image{
        width: 370px;
    }
    
}
@media(max-width:425px){
    .customer__container{
        flex-direction: column;
        align-items: center;
    }
    
    
}
@media(max-width:375px){
    .customer-image{
        width: 330px;
    }
    .customer--right-side{
        padding-left: 0px;
    }
}
@media(max-width:325px){
    .customer-image{
        width: 260px;
    }
    .customer--text-subtitle{
        text-align: center;
        width: 245px;
    }
}

/* !>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.blog__container{
    padding-top: 133px;
    display: flex;
    flex-direction: row;
    padding-bottom: 135px;
}
.customer--header-title{
    width: 300px;
}
.blog--header-title{
    width: 373px;
}
.blog--text-title{
    width: 373px;
}

@media(max-width:1024px){
    .blog-image{
        width: 410px;
    }
    
    
}
@media(max-width:768px){
    .blog-image{
        width: 360px;
    }
    .blog--text-title{
        width: 350px;
    }
}
@media(max-width:425px){
    .blog__container{
        flex-direction: column;
    }
    .blog--text-title{
        width: 220px;
        text-align: center;
    }
    .customer--right-side--customer-image{
        padding-top: 50px;
    }
    .product--right-side--product-image{
        padding-top: 50px;
    }
    .blog--right-side--blog-image{
        padding-top: 50px;
    }
    .blog-image{
        width: 255px;
    }
}


/* ! >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.customers__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding-top: 125px;
}
.header-title-inners{
    color: white;
    font-weight: 400;
}
.head-text-subtitle{
    font-weight: 400;
    color: white;
}
.customers-tree{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customers--tree-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 160px;
}
.customers--tree-volume__column{
    background: #242424;
    border-radius: 4.5px;
    width: 350px;
    height: 320px;
}
.customers--tree-efficiency__column{
    background: #242424;
    border-radius: 4.5px;
    width: 350px;
    height: 320px;
}
.customers--tree-uplift__column{
    background: #242424;
    border-radius: 4.5px;
    width: 350px;
    height: 320px;
}
.tree-neon--line-blue{
    width: 310px;
    height: 8px;
    background: #39AAFF;
    border-radius: 4px;
    margin: 15px 15px;
}
.tree-neon--line-light-blue{
    width: 310px;
    height: 8px;
    background: #29D5D5;
    border-radius: 4px;
    margin: 15px 15px;
}
.tree-neon--line-purple{
    width: 310px;
    height: 8px;
    background: #4E5EFF;
    border-radius: 4px;
    margin: 15px 15px;
}
.customers--tree-volume__column:hover{
    transform: scale(1.1);
    transition: transform 0.25s;
}
.customers--tree-efficiency__column:hover{
    transform: scale(1.1);
    transition: transform 0.25s;
}
.customers--tree-uplift__column:hover{
    transform: scale(1.1);
    transition: transform 0.25s;
}

.header-tree-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}
.tree-items--cube{
    width: 25px;
    height: 28px;
}
.header-tree-text{
    color: white;
    font-weight: 300;
    padding-left: 15px;
}
.header-tree-items{
    padding-left: 20px;
}
.tree--text{
    color: white;
    padding-left: 30px;
}

.tree--text-volume{
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
}
.tree--text-efficiency{
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    width: 308px;
}
.tree--text-uplift{
    color: white;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    width: 285px;
}

.tree--link-volume{
    color: white;
    font-weight: 200;
}
.tree--link-efficiency{
    color: white;
    font-weight: 200;
}
.tree--link-uplift{
    color: white;
    font-weight: 200;
}
.tree-link--wrap-volume{
    margin-top: 35px;
}
.tree-link--wrap-uplift{
    margin-top: 55px;
}
@media(max-width:1279.98px){
    .customers--tree-volume__column{
        width: 300px;
    }
    .customers--tree-efficiency__column{
        width: 300px;
    }
    .customers--tree-uplift__column{
        width: 300px;
    }
    .tree-neon--line-light-blue{
        width: 265px;
      
    }
    .tree-neon--line-blue{
        width: 265px;
     
    }
    .tree-neon--line-purple{
        width: 265px;
       
    }
    .tree--text-volume{
        width: 262px;
    }
    .tree--text-efficiency{
        width: 236px;
    }
    .tree--text-uplift{
        width: 249px;
    }
}

@media(max-width:1024px){
    .tree-image{
        width: 650px;
    }
    .header-title-inners{
        font-size: 40px;
    }
    .head-text-subtitle{
        font-size: 40px;
    }
    .neon-plus{
        width: 35px;
    }
    .customers--tree-volume__column{
        width: 250px;
    }
    .customers--tree-efficiency__column{
        width: 250px;
    }
    .customers--tree-uplift__column{
        width: 250px;
    }
    .tree-neon--line-blue{
        width: 220px;
    }
    .tree-neon--line-light-blue{
        width: 220px;
    }
    .tree-neon--line-purple{
        width: 220px;
    }
    .tree--text{
        padding-left: 25px;
    }
    .tree--text-volume{
        font-size: 12px
    }
    .tree--text-efficiency{
        font-size: 12px;
        width: 202px;
    }
    .tree--text-uplift{
        font-size: 12px;
        width: 220px;
    }
    .tree-link--wrap-volume{
        margin-top: 40px;
    }
}
@media(max-width:920px){
    .tree-image{
        width: 550px;
    }
    .customers--tree-volume__column{
        width: 220px;
    }
    .customers--tree-efficiency__column{
        width: 220px;
    }
    .customers--tree-uplift__column{
        width: 220px;
    }
    .tree-neon--line-blue{
        width: 190px;
    }
    .tree-neon--line-light-blue{
        width: 190px;
    }
    .tree-neon--line-purple{
        width: 190px;
    }
    .tree--text-efficiency{
        font-size: 11px;
        width: 190px;
    }
    .tree--text-uplift{
        font-size: 11px;
        width: 176px;
    }
    .tree-link--wrap-efficiency{
        margin-top: 30px;
    }
}

@media(max-width:425px){
    .customers--tree-items{
        padding-bottom: 30px;
    }
    .header-tree-items{
        padding-left: 5px;
    }
    .tree-items--cube{
        width: 16px;
        height: 20px;
    }
    .header-tree-text{
        padding-left: 10px;
        font-size: 12px;
        letter-spacing: 0.01em;
    }
    
    .header-title-inners{
        font-size: 24px;
    }
    .head-text-subtitle{
        font-size: 24px;
    }
    .tree-image{
        width: 300px;
    }
    .customers--tree-volume__column{
        width: 115px;
        height: 265px;
        margin-bottom: 203px;
    }
    .customers--tree-efficiency__column{
        width: 115px;
        margin-left: 10px;
        margin-right: 10px;
        height: 265px;
        margin-bottom: 203px;
    }
    .customers--tree-uplift__column{
        width: 115px;
        height: 265px;
        margin-bottom: 203px;
    }
    .neon-plus{
        display: none;
    }
    .tree-neon--line-light-blue{
        width: 85px;
        height: 5px;
    }
    .tree-neon--line-blue{
        width: 85px;
        height: 5px;
    }
    .tree-neon--line-purple{
        width: 85px;
        height: 5px;
    }
   
    .tree--text{
        padding-left: 5px;
    }
    .tree--link-volume{
        font-size: 9px;
    }
    .tree--link-efficiency{
        font-size: 9px;
    }
    .tree--link-uplift{
        font-size: 9px;
    }
    .tree--text-volume{
        font-size: 10px;
        font-weight: 300;
        text-align: center;
    }
    .tree--text-efficiency{
        font-size: 9px;
        width: 104px;
        text-align: center;
        font-weight: 300;
    }
    .tree--text-uplift{
        font-size: 9px;
        width: 100px;
        font-weight: 300; 
        text-align: center;
    }
    .tree-link--wrap-uplift{
        margin-top: 60px;
    }
    .tree-link--wrap-efficiency{
        margin-top: 16px;
    }
    .tree-link--wrap-volume{
        margin-top: 0px;
    }
    .tree--text-volume{
        width: 104px;
    }
}
@media(max-width:375px){
    .header-title-inners{
        font-size: 24px;
    }
    .head-text-subtitle{
        font-size: 24px;
    }
    .tree-image{
        width: 260px;
    }
    .customers--tree-volume__column{
        width: 115px;
        height: 265px;
        margin-bottom: 203px;
    }
    .customers--tree-uplift__column{
        width: 115px;
        height: 265px;
        margin-bottom: 203px;
    }
    .customers--tree-efficiency__column{
        width: 115px;
        margin-left: 5px;
        margin-right: 5px;
        height: 265px;
        margin-bottom: 203px;
    }
    .tree-neon--line-light-blue{
        width: 85px;
        height: 4px;
    }
    .tree-neon--line-blue{
        width: 85px;
        height: 4px;
    }
    .tree-neon--line-purple{
        width: 85px;
        height: 4px;
    }
    .tree--text-volume{
        font-size: 10px;
        width: 105px;
    }
    .tree--text-efficiency{
        font-size: 10px;
        width: 105px;
    }
    .tree--text-uplift{
        font-size: 9px;
        width: 105px;
    }
    .tree-link--wrap-uplift{
        margin-top: 90px;
    }
    .header-tree-text{
        font-size: 11px;
    }
}
@media(max-width:325px){
    .header-title-inners{
        font-size: 20px;
    }
    .head-text-subtitle{
        font-size: 20px;
    }
    .customers--tree-volume__column{
        width: 90px;
        height: 265px;
        margin-bottom: 203px;
    }
    .customers--tree-uplift__column{
        width: 90px;
        height: 265px;
        margin-bottom: 203px;
    }
    .customers--tree-efficiency__column{
        width: 90px;
        margin-left: 5px;
        margin-right: 5px;
        height: 265px;
        margin-bottom: 203px;
    }
    .tree-neon--line-light-blue{
        width: 60px;
        height: 4px;
    }
    .tree-neon--line-blue{
        width: 60px;
        height: 4px;
    }
    .tree-neon--line-purple{
        width: 60px;
        height: 4px;
    }
    .tree-items--cube{
        height: 17px;
    }
    .tree--text-volume{
        font-size: 9px;
        width: 80px;
    }
    .tree--text-efficiency{
        font-size: 9px;
        width: 81px;
    }
    .tree--text-uplift{
        width: 78px;
    }
    .tree--link-volume{
        font-size:7px;
    }
    .tree--link-efficiency{
        font-size:7px;
    }
    .tree--link-uplift{
        font-size:7px;
    }
    .tree-link--wrap-volume{
        margin-top: 47px;
    }
    .tree-link--wrap-uplift{
        margin-top: 70px;
    }
}


/*! >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.quote__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4E5EFF;
    padding-top: 150px;
    padding-bottom: 150px;
}
.quote-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.quote--decor-wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
.quote-logo{
    padding-left: 100px;
}
.quote-text{
    width: 800px;
    padding-left: 50px;
}
.quote--text-inner{
    color: white;
    font-size: 42px;
}
.quote--decor-wrapper{
    margin: 0 auto;
}
.quote-dedicated{
    color: black;
}
.author-name{
    color: white;
    padding-left: 100px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.01em;
}
.author-edc{
    color: white;
    padding-left: 100px;
    font-size: 18px;
    letter-spacing: 0.01em;
}
@media(max-width:920px){
    .quote-text{
        width: 550px;
    }
}
@media(max-width:425px){
    .quote-text{
        width: 295px;
    }
    .quote--text-inner{
        font-size: 24px;
    }
}
@media(max-width:375px){
    .quote-logo{
        padding-left: 70px;
    }
    .quote-text{
        width: 265px;
        padding-left: 25px
    }
    .quote--text-inner{
        font-size: 20px;
    }
    .author-name{
        padding-left: 80px;
    }
    .author-edc{
        padding-left: 80px;
        font-size: 13px;
    }
}
@media(max-width:325px){
    .quote-logo{
        padding-left: 55px;
    }
    .quote-text{
        width: 230px;
        padding-left: 25px
    }
    .quote--text-inner{
        font-size: 12px;
    }
    .author-name{
        padding-left: 55px;
        font-size: 17px;
    }
    .author-edc{
        padding-left: 55px;
        font-size: 11px;
    }
    .logo-treatwell{
        width: 100px;
    }
    .decor-svg{
        width: 30px;
    }
    .quote__container{
        padding-top: 100px;
    }
}


/* * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.demo__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 95px;
    padding-bottom: 110px;
}
.demo-header-title{
    color: white;
    font-weight: 400;
    font-size: 39px;
}
.get-demo{
    font-size: 16px;
    background: #FFFFFF;
    letter-spacing: 0.04px;
    color: #000000;
    padding: 18px;
    border: none;

}

@media(max-width:425px){
    .demo-header-title{
        font-size: 22px;
    }
    .get-demo{
        padding: 12px;
    }
    .demo--button-get-demo{
        padding-top: 50px;
    }
}
@media(max-width:375px){
    .demo-header-title{
        font-size: 18px;
    }
}
@media(max-width:325px){
    .demo-header-title{
        font-size: 16px;
    }
}

/* !>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.footer__container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: white;
  
}
.footer--header-menu{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-left: 45px;
}
.footer-privacy{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.product-list{
    font-family: "Montserrat";
    list-style: none;
    display: flex;
    flex-direction: column;
}
.product-link{
    font-size: 20px;
    padding-bottom: 25px;
}
.company-link{
 font-size: 20px;
 padding-bottom: 25px;
}
.social-link{
 font-size: 20px;
 padding-bottom: 25px;
}
.company-list{
    list-style: none;
    display: flex;
    flex-direction: column;

}
.social-list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    padding-left: 710px;
}
.product--list-item{
    padding-bottom: 15px;
    font-size: 14px;
}
.company--list-item{
    padding-bottom: 15px;
    font-size: 14px;
}
.social--list-item{
    padding-bottom: 15px;
    font-size: 14px;
}
.privacy-copyright{
    padding-left: 45px;
}

.privacy-other{
    display: flex;
    flex-direction: row;
    padding-left: 440px;
}
.privacy-policy-link{
    font-size: 15px;
    letter-spacing: 0.01em;
}
.privacy-agreement{
    padding-left: 20px;
}
.privacy-agreement-link{
    font-size: 15px;
    letter-spacing: 0.01em;
}

@media(max-width:920px){
    .footer-menu{
        padding-left:255px;
    }
    .privacy-other{
        padding-left: 30px;
    }
    .copyright{
        font-size: 14px;
    }
    .privacy-agreement{
        padding-left: 15px;
    }
}
@media(max-width:425px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__container{
        align-items: center;
    }
    .footer--header-menu{
       padding-left: 0px;
        flex-direction:column;
       
    }
    .footer-privacy{
        flex-direction:column;
     
    }
   
    .privacy-copyright{
        padding-left: 0px;
    }
    .privacy-other{
        padding-left: 0px;
    }
    .footer-menu{
        padding-left: 0px;
        flex-direction: column;
    }
    .product-list{
        padding-left: 0px;
        align-items: center;
    }
    .company-list{
        padding-left: 0px;
        align-items: center;
    }
    .social-list{
        padding-left: 0px;
        align-items: center;
    }
    .decor-svg{
        margin-left: 20px;
       
    }
    .quote-text{
        padding-left: 34px;
    }
}
@media(max-width:375px){
    .footer-menu{
        flex-direction: column;
    }
    .product-list{
        padding-left: 0px;
        align-items: center;
    }
    .company-list{
        padding-left: 0px;
        align-items: center;
    }
    .social-list{
        padding-left: 0px;
        align-items: center;
    }
}
@media(max-width:325px){
    .copyright{
        font-size: 12px;
    }
    .privacy-policy-link{
        font-size: 12px;
    }
    .privacy-agreement-link{
        font-size: 12px;
    }
}